<!-- <h2 mat-dialog-title>Alert</h2>
<mat-dialog-content>
  Please Login to Vote
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</mat-dialog-actions> -->
<h2 mat-dialog-title class="custom-dialog-title">Alert</h2>
<mat-dialog-content class="custom-dialog-content">
  Please Login to Vote
</mat-dialog-content>
<mat-dialog-actions class="custom-dialog-actions">
  <button mat-button mat-dialog-close cdkFocusInitial class="custom-dialog-button">Ok</button>
</mat-dialog-actions>
