<div class="row">
  <swiper-container  loop="true" slides-per-view="3" navigation ="true" >
    <div class="market-box" *ngFor="let option of market">
  <swiper-slide>
    <div class="market-header"  >
      <span class="market-title">{{ option.pollName }}</span>
    </div>
    <div class="flex">
    <div class="market-details">
      <div class="market-option">
      
        <img class="homeimg" [src]="option.pollPicture" alt="{{ option.pollName }}" />
      </div>
    </div>
    <div class="market-details">
      <div class="market-option">
        <span class="option-name">{{ option.pollDetails }}</span>
      </div>
    </div>
  </div>
  <div class="market-details">
    <button class="button-62" (click)="marketDetails(option.id,option.pollName)">Details</button>
  </div>
</swiper-slide>

</div>
</swiper-container>
<!-- <button (click)="pollEntry()">View All</button> -->
<button (click)="pollEntry()" class="button-28" role="button">View All</button>
</div>

<!-- <p-carousel 
    [value]="market" 
    [numVisible]="3" 
    [numScroll]="3" 
    [circular]="false" 
    [responsiveOptions]="">
        <ng-template let-market pTemplate="item">
            <div class="border-1 surface-border border-round m-2 p-3">
                <div class="mb-3">
                    <div class="relative mx-auto">
                        <img 
                            src="https://primefaces.org/cdn/primeng/images/demo/product/{{ market.pollPicture }}" 
                            [alt]="market.pollName" 
                            class="w-full border-round" />
                        <p-tag 
                            [value]="market.inventoryStatus" 
                
                            class="absolute" 
                            [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
                    </div>
                </div>
                <div class="mb-3 font-medium">
                    {{ market.pollName }}
                </div>
                <div class="flex justify-content-between align-items-center">
                <div class="mt-0 font-semibold text-xl">
                    {{ '$' + market.price }}
                </div>
                    <span>
                        <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
                        <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
                    </span>
                </div>
            </div>
        </ng-template>
</p-carousel> -->


  
