<!-- 

   <div class="row">
    <swiper-container class="item" loop="true" slides-per-view="2" navigation="true">
      <div class="market-box" *ngFor="let option of market">
        <swiper-slide>
          <div
            class="market-header"
          >
            <span class="market-title">{{ option.pollName }}</span>
          </div>
          <div class="back-img" [ngStyle]="{ 'background-image': 'url(' + option.pollPicture + ')' }">
          <div class="flex" >
            <div class="market-details">
              <button
                class="button-62"
                (click)="marketDetails(option.id, option.pollName)"
              >
                Details
              </button>
            </div>
          </div>
       
        </div>
        </swiper-slide>
      </div>
    </swiper-container>
    <button (click)="pollEntry()" class="button-28" role="button">View All</button>
  </div>
   -->
   <div class="row">
    <div class="card-container">
      <div class="market-box" *ngFor="let option of market">
        <div class="market-header">
          <span class="market-title">{{ option.pollName }}</span>
        </div>
        <div class="back-img" style="background-image: url('{{ option.pollPicture }}')">
          <button class="button-62" (click)="marketDetails(option.id, option.pollName)">Details</button>
        </div>
      </div>
    </div>
    <button (click)="pollEntry()" class="button-28" role="button">View All</button>
  </div>
  